div.card
{
    background-color:antiquewhite;
    border-radius: 20px;
    margin-bottom: 3em;
}

div.container
{
    background-color:azure;
}

img.card-img-top
{
    border-radius: 20px;
}

a:link, a:visited, a:hover, a:active
{
    color: #007539;
}